<html>
  <head>
    <title>Chat</title>

    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- react js-->
    <script
      type="module"
      crossorigin
      src="http://localhost:4173/widget.js"
    ></script>
    <link
      rel="modulepreload"
      crossorigin
      href="http://localhost:4173/assets/app-CeCeTMzf.js"
    />
  </head>
  <body>
    <h1>Chat</h1>

    <div id="react-component"></div>

    <button hx-get="/chat_data" hx-swap="outerHTML">Click Me</button>

    <div>
      <h2>Guest</h2>
      <p id="guest-name">{{ guest.name }}</p>
      <p id="guest-phone">{{ guest.phone }}</p>
    </div>

    <div>
      <h2>All Guests</h2>
      {% for guest in all_guests %}
      <p id="guest-name">{{ guest.name }}</p>
      <p id="guest-phone">{{ guest.phone }}</p>
      {% endfor %}
    </div>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" />
  </body>
</html>
